@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Sunflower:wght@300&display=swap');

body {
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
}

.black-nav{
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 500;
  font-size: 25px;
  font-family: 'Sunflower', sans-serif;
}

.list {
  margin-top : 30px;
  text-align : left;
  padding-left : 20px;
  padding-right : 20px;
}